body{
    font-family: Roboto;
    width: 100%;

}
.container{
    border: 10px solid rgb(206, 144, 144);
}
ul{
    list-style: none;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 40px;
}
.headerlogo{
    
    font-size: 24px;
    color: #F9FAF8; 
}
.headerlinks{
    display: flex;
    flex-direction: row;
    gap:10px; 
}
.heromaintext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0px;
    width:400px;
}
.herosecondarytext{
    margin-top: 0;
    margin-bottom: 5px;
}
.herosecondarytext, .headerlinks{
font-size: 18px;
color: #E5E7EB;
}
.body,.footer{
    background-color: #1f2937;
    
}
.body{
    display: flex;
    flex-direction: column;
    flex:1;
    padding:5px;
}
.herodiv{
    display: flex;
    flex-flow: column wrap;
    width: 350px;
}
.herodiv button{
    background: blue;
    width:fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    border-style: solid;

}
.heroimg{

    width: 270px;
    height: 130px;
    align-self: end;
    
}
.fullherodiv{
    display: flex;
    
    padding: 0px 0px 60px 70px;
}
.info{
display: flex;
flex-direction: column;
align-items: center;
/**min-height: calc(100vh - 40px);**/
gap:50px;
padding-bottom:40px;
}
.info_img_text{
    display: flex;
    gap:10px;
}
.info .imgtext{
    display: flex;
    flex-flow: column wrap;
}
.textimg{
    height: 100px;
    width: 100px;
}
.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    padding:40px;
}
.footer{
    text-align: center;
    padding: 2px;
    
}
.infohead{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.cta{
    background-color: #3882F6;
    display: flex;
    padding:10px;
    gap:25px;
    border-radius: 20px;
}
.cta>button{
    background-color: #3882F6;
    border-radius: 20px;
}