body{
    font-family: Roboto;
    display: flex;
    
}
ul{
    list-style: none;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}
.headerlogo{
    
    font-size: 24px;
    color: #F9FAF8; 
}
.headerlinks{
    display: flex;
    flex-direction: row;
    gap:10px; 
}
.heromaintext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0px;
}
.herosecondarytext{
    margin-top: 0;
    margin-bottom: 5px;
}
.herosecondarytext, .headerlinks{
font-size: 18px;
color: #E5E7EB;
}
.body,.footer{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex:1;
    padding:5px;
}
.herodiv{
    display: flex;
    flex-flow: column wrap;
}
.herodiv button{
    background: blue;
    width:fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    border-style: solid;

}

